section {
  padding-top: 70px;
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 100px;
}

h1 {
  color: #51cd89;
  font-size: 2.6em;
  margin-top: 200px;
}

h3 {
  margin: 10px 0;
  color: #8b95a1;
  white-space: pre-line;
  font-size: 1em;
}

#btn-go-main {
  background-color: #51cd89;
  color: #fff;
  border: none;
  border-radius: 6px;
  width: 160px;
  height: 40px;
  font-size: 1em;
  margin-top: 80px;
  margin-bottom: 50px;
}
