table {
    width: 100%;
    border-spacing: 0;
    table-layout: fixed;
    border-collapse: collapse;
}

thead {
    background-color: #F9FBFC;
}

tr {
    height: 58px;
    border-radius: 6px;
    align-items: center;
    text-align: center;
}

.subject {
    text-align: left;
    padding-left: 80px;
    cursor: pointer;
}

.subject:hover {
    text-decoration: underline;
}

thead th:first-child, th:last-child {
    border-radius: 6px 0 0 6px;
}

thead th:last-child {
    border-radius: 0 6px 6px 0;
}

tbody tr {
    border-bottom: 1px solid #E3E3E3;
}

.top-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 1000px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.right select {
    height: 34px;
    border: 1px solid #E3E3E3;
    border-radius: 6px;
    width: 80px;
    box-sizing: border-box;
    padding: 4px;
}

.right input {
    box-sizing: border-box;
    height: 34px;
    border: none;
    border-bottom: 1px solid #E3E3E3;
    padding: 4px;
    padding-right: 10px;
    margin: 0 10px;
}

.right button {
    height: 34px;
    background-color: #51cd89;
    border-radius: 6px;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 0 16px
}

.right button:last-child{
    margin-left: 10px;
}

/* pagination */
.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.pagination-container ul {
    display: flex;
}

.pagination-container li {
    cursor: pointer;
    margin-right: 20px;
    background-color: #51cd89;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    color: #fff;
}
.pagination-container li:last-child {
    margin-right: 0;
    color: #000;
    background-color: #fff;
}
.pagination-container li:hover {
    background-color: #51cd89;
    color: #fff;
}    

.btn-prev {
    color: #D3D3D3;
    cursor: pointer;
}

.btn-next {
    cursor: pointer;
}

.divider {
    height: 20px;
    width: 1px;
    background-color: #D3D3D3;
    margin: 0 20px;
}