section {
  width: 80%;
  max-width: 1100px;
  min-width: 1100px;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 100px;
}

.title {
  padding-top: 120px;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  margin-bottom: 60px;
  white-space: pre-line;
}

#search-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#search-box input {
  border: none;
  border-bottom: 1px solid #b0b8c1;
  box-sizing: border-box;
  padding: 10px;
  width: 55%;
  font-size: 1em;
}

#search-box input::placeholder {
  color: #d3d3d3;
}

#select-type,
#select-order {
  width: 14%;
  border: 1px solid #b0b8c1;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 4px;
}

#btn-search-tripinfo {
  width: 10%;
  border: none;
  border-radius: 6px;
  background-color: #51cd89;
  color: #fff;
  cursor: pointer;
}

#tab-box {
  display: flex;
  width: 55%;
  margin: 60px auto 50px auto;
}

.tabnav {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  font-size: 1.1em;
}

.tabnav li {
  cursor: pointer;
  padding: 0 4px 6px 4px;
}

.tabnav li.active {
  color: #51cd89;
  border-bottom: 2px solid #51cd89;
}

.tabnav li:hover {
  color: #51cd89;
  border-bottom: 2px solid #51cd89;
}

#content-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 60px 50px;
  margin-bottom: 20px;
}

.empty-tripinfo-box {
  display: flex;
  width: 100%;
  background-color: #f9fbfc;
  height: 200px;
  align-items: center;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 12px 40px 0px rgba(112, 144, 176, 0.2);
  cursor: pointer;
  transition: all 0.2s linear;
}

.item:hover {
  transform: scale(1.03);
}

.imgDiv {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  transform: translateY(-15px);
}

.imgDiv img {
  width: 100%;
  height: 100%;
}

.tag-box {
  display: flex;
  justify-content: space-between;
  width: 190px;
  margin: 0 auto;
  align-items: center;
}

.tag-box .left {
  font-size: 0.8em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 80px;
}

.tag-box .right {
  display: flex;
  font-size: 0.7em;
  color: #fff;
}

.tag-box .right .type {
  background-color: #1f1f1f;
  padding: 2px 4px;
  border-radius: 4px;
}

.tag-box .right .category {
  background-color: #eb635b;
  padding: 2px 4px;
  border-radius: 4px;
  margin-left: 6px;
}

.place_name {
  width: 190px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.desc {
  width: 190px;
  margin: 0 auto;
  font-size: 0.8em;
  color: #6b7684;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  min-height: 50px;
}

.bottom-box {
  display: flex;
  justify-content: flex-end;
  width: 190px;
  align-items: center;
  box-sizing: border-box;
  font-size: 0.8em;
  margin: 10px auto;
}

.hit {
  display: flex;
  align-items: center;
}

.like {
  display: flex;
  align-items: center;
}

.hit img {
  width: 14px;
  height: 14px;
  margin-right: 2px;
}

.like img {
  width: 10px;
  height: 10px;
  margin-left: 6px;
  margin-right: 2px;
}

.tripinfo-modal-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 40px;
}

.tripinfo-modal-container .left {
  display: flex;
  flex-direction: column;
  width: 46%;
  box-sizing: border-box;
}

.title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail-title {
  color: #6b7684;
  font-size: 1em;
}

.detail-type {
  background-color: #eb635b;
  color: #fff;
  border-radius: 4px;
  padding: 3px 6px;
  font-size: 0.6em;
}

.place-name-box {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.detail-place-name {
  font-weight: bold;
  font-size: 1.4em;
}

.detail-place-like-hit {
  display: flex;
  align-items: flex-end;
}

.detail-place-category {
  font-size: 0.9em;
  margin-top: 20px;
}

.detail-desc {
  margin-top: 6px;
  color: #8b95a1;
}

.detail-info-box {
  margin-top: 20px;
}

.detail-info-box div {
  font-size: 0.9em;
}

.detail-info-box div span:first-child {
  display: inline-block;
  color: #61676F;
  width: 80px;
}

.button-wrap {
  display: flex;
  margin-top: auto; 
}

.button-wrap button {
  display: flex;
  align-items: center;
  height: 40px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 4px 20px;
}

.button-wrap button:first-child {
  background-color: #51cd89;
  color: #fff;
  padding: 4px 20px;
}

.button-wrap button:last-child {
  background-color: #F7F8FA;
  color: #6B7684;
  margin-left: 20px;
  border: 1px solid #ddd;
}

.button-wrap button img {
  width: 10px;
  height: 10px;
  margin-left: 10px;
}

.tripinfo-modal-container .right {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 40%;
  height: 100%;
}

#mapBox {
  margin-inline: auto;
  width: 100%;
  height: 50%;
}
#map {
  width: 100%;
  height: 100%;
}

.comment-title {
  font-weight: bold;
  margin: 20px 0 10px 0;
}

.comment-box {
  display: flex;
  flex-direction: column;
  height: 110px;
  overflow-y: scroll;

}

.comments {
  display: flex;
  font-size: 0.8em;
  margin-bottom: 4px;
}

.comments .userName {
  color: #61676F;
  font-weight: bold;
  margin-right: 1%;
  width: 20%;
}

.comments .comment-content {
  width: 79%;
}

#form-detail-comment {
  margin-top: auto;
}

#form-detail-comment input {
  background-color: #F2F4F6;
  border: 1px solid #ddd;
  height: 40px;
  padding: 4px;
  border-radius: 6px;
  box-sizing: border-box;
  width: 60%;
}

#form-detail-comment input::placeholder {
  color: #6B7684;
}

#form-detail-comment button {
  height: 40px;
  width: 60px;
  border-radius: 6px;
  border: none;
  background-color: #51cd89;
  color: #fff;
  cursor: pointer;
}
