li {
  display: flex;
  background-color: #fff;
  margin-bottom: 20px;
  border: 1px solid #e3e3e3;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 10px;
}

li .num {
  display: flex;
  background-color: #51cd89;
  width: 26px;
  height: 26px;
  line-height: 26px;
  color: #fff;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  font-size: 0.9em;
}

.course-list li {
  cursor: pointer;
  user-select: none;
}

.right {
  display: flex;
  flex-direction: column;
  width: 100%;
  .title {
    font-size: 0.9em;
    font-weight: bold;
  }
  .addr {
    font-size: 0.8em;
  }
}

.top {
  display: flex;
  align-items: center;
  width: 100%;

  span {
    font-size: 0.7em;
    line-height: 1;
    padding: 5px 6px;
    border-radius: 4px;
    color: #fff;
    background-color: #eb635b;
  }

  span:first-child {
    background-color: #000;
    margin-right: 5px;
  }

  img {
    margin-left: auto;
    width: 28px;
    height: 28px;
  }
}

#drama {
  background-color: #eb635b;
}

#show {
  background-color: #5ba6eb;
}

#artist {
  background-color: #6f5beb;
}

#movie {
  background-color: #ebc373;
}
