header {
  z-index: 2;
  position: fixed;
  width: 100%;
  box-shadow: 0 10px 10px -10px gray;
  background-color: #fff;
}
.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  height: 70px;
  line-height: 70px;
}

.header-left {
  display: flex;
}

.header-right {
  display: flex;
  align-items: center;
}

#header-username {
  color: #6b7684;
  margin-right: 10px;
}

.container button {
  background-color: var(--tv-c-green);
  border-radius: 16px;
  color: #fff;
  border: none;
  padding: 0 16px;
  height: 34px;
  cursor: pointer;
  font-size: 1em;
}

#hamburger {
  display: none;
  cursor: pointer;
}

header a {
  color: #6b7684;
  margin-left: 34px;
  font-size: 1em;
}

header a:hover {
  color: var(--tv-c-green);
}

header #logo a {
  font-size: 1.6em;
  box-sizing: border-box;
  color: var(--tv-c-green);
  font-weight: bold;
  margin-left: 0;
}

.router-link-active {
  color: var(--tv-c-green);
}
