a {
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: column;
}

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.page-item {
  cursor: pointer;
  margin-right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
}

.page-item a {
  color: #000;
}

.page-item.active {
  background-color: #51cd89;
}

.page-item.active a {
  color: #fff;
}

.page-item.btn-li .page-link {
  width: 40px;
  height: 30px;
}

.page-item:last-child .page-link a {
  padding-right: 10px; /* 오른쪽 여백을 늘립니다. */
}

.pagination-container .divider {
  height: 20px;
  width: 1px;
  background-color: #d3d3d3;
  margin: 0 20px;
}
