.title {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
  white-space: pre-line;
}

.course-modify-container {
  display: flex;
  justify-content: space-between;
}
