.container {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.form-search-course-regist {
  display: flex;
  margin: 20px 0;
}

.form-search-course-regist select {
  border: 1px solid #dadee2;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 4px;
  height: 40px;
  width: 120px;
  margin-right: 20px;
}

#input-course-regist {
  border: 1px solid #dadee2;
  box-sizing: border-box;
  padding: 4px;
  border-radius: 6px;
  width: 220px;
  margin-right: 20px;
}

#input-course-regist::placeholder {
  color: #d3d3d3;
}

.form-search-course-regist button {
  background-color: #51cd89;
  border: none;
  color: #fff;
  width: 60px;
  border-radius: 6px;
}

#content-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 60px 50px;
  margin-bottom: 20px;
  margin-top: 40px;
}

button {
  cursor: pointer;
}
