.modalContainer {
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  padding-top: 180px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modalContent {
  display: flex;
}

.modalBody {
  position: relative;
  display: flex;
  width: 1000px;
  height: 500px;
  padding: 30px 30px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 12px;
}

.modalBody .btn-close-modal {
  position: absolute;
  top: 18px;
  right: 18px;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.tripinfo-modal-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 30px;
}

.tripinfo-modal-container .left {
  display: flex;
  flex-direction: column;
  width: 46%;
  box-sizing: border-box;
}

.title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail-title {
  color: #6b7684;
  font-size: 1em;
}

.detail-type {
  background-color: #eb635b;
  color: #fff;
  border-radius: 4px;
  padding: 3px 6px;
  font-size: 0.6em;
}

.place-name-box {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.detail-place-name {
  font-weight: bold;
  font-size: 1.4em;
}

.detail-place-like-hit {
  display: flex;
  align-items: flex-end;
}

.hit {
  display: flex;
  align-items: center;
}

.like {
  display: flex;
  align-items: center;
}

.hit img {
  width: 14px;
  height: 14px;
  margin-right: 2px;
}

.like img {
  width: 10px;
  height: 10px;
  margin-left: 6px;
  margin-right: 2px;
}

.detail-place-category {
  font-size: 0.9em;
  margin-top: 20px;
}

.detail-desc {
  margin-top: 6px;
  color: #8b95a1;
  height: 50px;
  overflow-y: scroll;
}

.detail-info-box {
  margin-top: 20px;
}

.detail-info-box div {
  font-size: 0.9em;
}

.detail-info-box div span:first-child {
  display: inline-block;
  color: #61676f;
  width: 80px;
}

.button-wrap {
  display: flex;
  margin-top: auto;
}

.button-wrap button {
  display: flex;
  align-items: center;
  height: 40px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 4px 20px;
}

.button-wrap button:first-child {
  background-color: #51cd89;
  color: #fff;
  padding: 4px 20px;
}

.button-wrap button:last-child {
  background-color: #f7f8fa;
  color: #6b7684;
  margin-left: 20px;
  border: 1px solid #ddd;
}

.button-wrap button img {
  width: 10px;
  height: 10px;
  margin-left: 10px;
}

.tripinfo-modal-container .right {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 40%;
  height: 100%;
}

.comment-title {
  font-weight: bold;
  margin: 20px 0 10px 0;
}

.comment-box {
  display: flex;
  flex-direction: column;
  height: 110px;
  overflow-y: scroll;
}

.comments {
  display: flex;
  font-size: 0.8em;
  margin-bottom: 4px;
}

.comments .userName {
  color: #61676f;
  font-weight: bold;
  margin-right: 1%;
  width: 20%;
}

.comments .comment-content {
  width: 79%;
}

#form-detail-comment {
  margin-top: auto;
}

#form-detail-comment input {
  background-color: #f2f4f6;
  border: 1px solid #ddd;
  height: 40px;
  padding: 4px;
  border-radius: 6px;
  box-sizing: border-box;
  width: 60%;
}

#form-detail-comment input::placeholder {
  color: #6b7684;
}

#form-detail-comment button {
  height: 40px;
  width: 60px;
  border-radius: 6px;
  border: none;
  background-color: #51cd89;
  color: #fff;
  cursor: pointer;
}

#btn-comment-trip {
  margin-left: 10px;
}

.detail-info {
  display: flex;
}

.detail-info-right {
  display: inline-block;
  width: 350px;
}
