#content-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 60px 50px;
  margin-bottom: 20px;
}

#search-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#search-box input {
  border: none;
  border-bottom: 1px solid #b0b8c1;
  box-sizing: border-box;
  padding: 10px;
  width: 55%;
  font-size: 1em;
}

#search-box input::placeholder {
  color: #d3d3d3;
}

#select-type,
#select-order {
  width: 14%;
  border: 1px solid #dadee2;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 4px;
}

#btn-search-tripinfo {
  width: 10%;
  border: none;
  border-radius: 6px;
  background-color: #51cd89;
  color: #fff;
  cursor: pointer;
}

#tab-box {
  display: flex;
  width: 55%;
  margin: 40px auto 50px auto;
}

.tabnav {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  font-size: 1.1em;
}

.tabnav li {
  cursor: pointer;
  padding: 0 4px 6px 4px;
}

.tabnav li.active {
  color: #51cd89;
  border-bottom: 2px solid #51cd89;
}

.tabnav li:hover {
  color: #51cd89;
  border-bottom: 2px solid #51cd89;
}
