.btn-notice-box {
  display: flex;
  justify-content: center;
}

#btn-notice-list {
  background-color: #51cd89;
  border: none;
  border-radius: 6px;
  width: 140px;
  height: 40px;
  color: #fff;
  cursor: pointer;
  margin-top: 40px;
}
