tr {
  height: 58px;
  border-radius: 6px;
  align-items: center;
  text-align: center;
}

.subject {
  text-align: left;
  padding-left: 80px;
  cursor: pointer;
}

a {
  color: #000;
}

.subject:hover {
  text-decoration: underline;
}
