h2 {
  color: var(--tv-c-green);
}

.friend-menu-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 22pxx;
    height: 22px;
    cursor: pointer;
  }
}

span {
  cursor: pointer;
  margin-right: 20px;
  font-weight: bold;
  font-size: 1.1em;
  padding-bottom: 5px;
  &:hover {
    border-bottom: 1px solid #000;
  }
}
.active {
  border-bottom: 1px solid #000;
}
.num {
  margin-left: 6px;
  color: var(--tv-c-green);
  font-weight: 400;
}
